@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  font-family: 'Gemunu Libre', sans-serif;
}

.drum-machine {
  width: 500px;
  border: 0;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: slateblue;
  box-shadow: 10px 10px 5px 0px rgba(106, 90, 205, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(74, 63, 151, 0.466);
  -moz-box-shadow: 10px 10px 5px 0px rgba(106, 90, 205, 0.75);
}

.drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}

.drum-pad {
  cursor: pointer;
  border: 0;
  border-radius: 1em;
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 18, 102);
  color: #fff;
  font-size: 2rem;
  font-family: inherit;
  box-shadow: 5px 10px 5px -4px rgba(60, 18, 102, 0.63);
  -webkit-box-shadow: 5px 10px 5px -4px rgba(60, 18, 102, 0.63);
  -moz-box-shadow: 5px 10px 5px -4px rgba(60, 18, 102, 0.63);
}

.drum-pad:focus {
  background-color: white;
}

.current-title {

  font-size: 2rem;
}

.sound-display {
  font-size: 1.5rem;
}